.navbar{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    gap: 10px;
}

.link{
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 5;
}

.link:hover{
    background-color: #9ee6dd;
}